<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login form</title>
</head>
<body>
<main>
    <form th:action="@{/authenticate}" method="POST">
        <input type="text" class="form-control" placeholder="Username" name="username" id="username">
        <label for="username">Username</label>
        <input type="password" class="form-control" placeholder="Password" name="password" id="password">
        <label for="password">Password</label>


        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <input type="submit" value="Login"/>
    </form>
</main>
</body>
</html>